@import "animation.css";

/* main */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline:0;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/regular/quicksand-regular-webfont.eot');
    src: url('../fonts/regular/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/regular/quicksand-regular-webfont.woff2') format('woff2'),
    url('../fonts/regular/quicksand-regular-webfont.woff') format('woff'),
    url('../fonts/regular/quicksand-regular-webfont.ttf') format('truetype'),
    url('../fonts/regular/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'quicksandregular' 'Arial';
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #191919;
    min-width: 800px;
    min-height: 600px;
    overflow: auto;
}

.container .opponents-container {
}

.container > .table-container {
    position: absolute;
    margin-top: -75px;
    width: 100%;
    top: 50%;
}

.container > .table-container > .table-cards {
    float: left;
}

.container > .table-container > .retreat-cards,
.container > .table-container > .pack-cards {
    float: right;
}

.container > .clear {
    clear: both;
}

.container .user-container {
    position: absolute;
    bottom: 0;
}

/* navbar */
.menu {
    background-color: rgba(175, 179, 184, 0.05);
    width: 100%;
    z-index: 9999;
    top: 0;
    transition:          all 0.1s ease;
    -webkit-transition:  all 0.1s ease;
    -moz-transition:     all 0.1s ease;
    -o-transition:       all 0.1s ease;
}

.menu:hover {
    background-color: rgba(175, 179, 184, 0.1);
}

.menu > .menu-items >.menu-item {
    display: inline-block;
    margin-right: -5px;
    cursor: pointer;
    color: #4F6A77;
    padding: 10px;
}

.menu > .menu-items >.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 4px solid #4F6A77;
    padding-bottom: 6px;
    color: #83A4A9;
}

/* player */
.player {
    display: inline-block;
    /*margin-right: 100px;*/
}

.player.opponent-player > .cards > .card {
    margin-right: -98px;
}

.player.active.opponent-player > .cards > .card {
    margin-right: -75px;
}

/* cards */
.cards {
    display: inline-block;
    margin: 20px 125px 20px 20px;
}

.cards > .card {
    position: relative;
    display: inline-block;
    margin-right: -75px;
    cursor: pointer;
    height: 150px;
    width: 100px;
    top: 0;

    -webkit-box-shadow: 0 0 5px 0 rgba(3,26,30,1);
    -moz-box-shadow: 0 0 5px 0 rgba(3,26,30,1);
    box-shadow: 0 0 5px 0 rgba(3,26,30,1);
}

.cards > .card:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(3,26,30,0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(3,26,30,0.6);
    box-shadow: 0 0 10px 0 rgba(3,26,30,0.6);
    top: -10px;
}

/*.cards.retreat-cards > .card:last-child,
.cards.pack-cards > .card:last-child,
.cards > .card:last-child {
    margin-right: 0;
}*/

.cards > .card > img {
    width: 100%;
    height: 100%;
}

.cards > .card.open img:last-child {
    display: none;
}

.cards > .card.close img:first-child {
    display: none;
}

.cards.retreat-cards > .card,
.cards.pack-cards > .card {
    margin-right: -98px;
}

.cards.pack-cards > .card:first-child {
    left: -30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.opponent-player .cards > .card,
.cards.table-cards > .card,
.cards.retreat-cards > .card,
.cards.pack-cards > .card {
    -webkit-box-shadow: 0 0 5px 0 rgba(3,26,30,1);
    -moz-box-shadow: 0 0 5px 0 rgba(3,26,30,1);
    box-shadow: 0 0 5px 0 rgba(3,26,30,1);
    top: 0;
}

.cards.pack-cards > .card:last-child:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(3,26,30,0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(3,26,30,0.6);
    box-shadow: 0 0 10px 0 rgba(3,26,30,0.6);
    top: 10px;
}

.card.remove-card-up {
    -webkit-animation: remove-card-up 0.5s; /* Safari 4+ */
    -moz-animation:    remove-card-up 0.5s; /* Fx 5+ */
    -o-animation:      remove-card-up 0.5s; /* Opera 12+ */
    animation:         remove-card-up 0.5s  ; /* IE 10+, Fx 29+ */
}

.card.remove-card-down {
    -webkit-animation: remove-card-down 0.5s; /* Safari 4+ */
    -moz-animation:    remove-card-down 0.5s; /* Fx 5+ */
    -o-animation:      remove-card-down 0.5s; /* Opera 12+ */
    animation:         remove-card-down 0.5s  ; /* IE 10+, Fx 29+ */
}

.card.add-card-up {
    -webkit-animation: add-card-up 0.5s; /* Safari 4+ */
    -moz-animation:    add-card-up 0.5s; /* Fx 5+ */
    -o-animation:      add-card-up 0.5s; /* Opera 12+ */
    animation:         add-card-up 0.5s  ; /* IE 10+, Fx 29+ */
}

.card.add-card-down {
    -webkit-animation: add-card-down 0.5s; /* Safari 4+ */
    -moz-animation:    add-card-down 0.5s; /* Fx 5+ */
    -o-animation:      add-card-down 0.5s; /* Opera 12+ */
    animation:         add-card-down 0.5s  ; /* IE 10+, Fx 29+ */
}

/* helper */
.helper {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.helper > .button {
    width: 80px;
    margin: 10px;
}

.helper > .button > img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
    width: 100%;
}

.helper > .button:hover > img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

/* transition */
.menu > .menu-items >.menu-item,
.cards > .card {
    transition:          all 0.1s ease;
    -webkit-transition:  all 0.1s ease;
    -moz-transition:     all 0.1s ease;
    -o-transition:       all 0.1s ease;
}

.menu,
.helper > .button > img {
    transition:          all 0.5s ease;
    -webkit-transition:  all 0.5s ease;
    -moz-transition:     all 0.5s ease;
    -o-transition:       all 0.5s ease;
}