.card-sprite { background: url('../img/card-sprite.png') no-repeat top left; width: 100px; height: 150px;  }
.card-sprite.card-2-1 { background-position: 0 0; }
.card-sprite.card-2-2 { background-position: -100px 0; }
.card-sprite.card-2-3 { background-position: -200px 0; }
.card-sprite.card-2-4 { background-position: -300px 0; }
.card-sprite.card-3-1 { background-position: -400px 0; }
.card-sprite.card-3-2 { background-position: -500px 0; }
.card-sprite.card-3-3 { background-position: -600px 0; }
.card-sprite.card-3-4 { background-position: -700px 0; }
.card-sprite.card-4-1 { background-position: -800px 0; }
.card-sprite.card-4-2 { background-position: -900px 0; }
.card-sprite.card-4-3 { background-position: -1000px 0; }
.card-sprite.card-4-4 { background-position: -1100px 0; }
.card-sprite.card-5-1 { background-position: -1200px 0; }
.card-sprite.card-5-2 { background-position: -1300px 0; }
.card-sprite.card-5-3 { background-position: -1400px 0; }
.card-sprite.card-5-4 { background-position: -1500px 0; }
.card-sprite.card-6-1 { background-position: -1600px 0; }
.card-sprite.card-6-2 { background-position: -1700px 0; }
.card-sprite.card-6-3 { background-position: -1800px 0; }
.card-sprite.card-6-4 { background-position: -1900px 0; }
.card-sprite.card-7-1 { background-position: -2000px 0; }
.card-sprite.card-7-2 { background-position: -2100px 0; }
.card-sprite.card-7-3 { background-position: -2200px 0; }
.card-sprite.card-7-4 { background-position: -2300px 0; }
.card-sprite.card-8-1 { background-position: -2400px 0; }
.card-sprite.card-8-2 { background-position: -2500px 0; }
.card-sprite.card-8-3 { background-position: -2600px 0; }
.card-sprite.card-8-4 { background-position: -2700px 0; }
.card-sprite.card-9-1 { background-position: -2800px 0; }
.card-sprite.card-9-2 { background-position: -2900px 0; }
.card-sprite.card-9-3 { background-position: -3000px 0; }
.card-sprite.card-9-4 { background-position: -3100px 0; }
.card-sprite.card-10-1 { background-position: -3200px 0; }
.card-sprite.card-10-2 { background-position: -3300px 0; }
.card-sprite.card-10-3 { background-position: -3400px 0; }
.card-sprite.card-10-4 { background-position: -3500px 0; }
.card-sprite.card-11-1 { background-position: -3600px 0; }
.card-sprite.card-11-2 { background-position: -3700px 0; }
.card-sprite.card-11-3 { background-position: -3800px 0; }
.card-sprite.card-11-4 { background-position: -3900px 0; }
.card-sprite.card-12-1 { background-position: -4000px 0; }
.card-sprite.card-12-2 { background-position: -4100px 0; }
.card-sprite.card-12-3 { background-position: -4200px 0; }
.card-sprite.card-12-4 { background-position: -4300px 0; }
.card-sprite.card-13-1 { background-position: -4400px 0; }
.card-sprite.card-13-2 { background-position: -4500px 0; }
.card-sprite.card-13-3 { background-position: -4600px 0; }
.card-sprite.card-13-4 { background-position: -4700px 0; }
.card-sprite.card-14-1 { background-position: -4800px 0; }
.card-sprite.card-14-2 { background-position: -4900px 0; }
.card-sprite.card-14-3 { background-position: -5000px 0; }
.card-sprite.card-14-4 { background-position: -5100px 0; }
.card-sprite.card-back { background-position: -5200px 0; } 