.modal {
    background-color: #2d2d2e;
    background: -webkit-radial-gradient(#2d2d2e, #1c1c1d);
    background: -o-radial-gradient(#2d2d2e, #1c1c1d);
    background: -moz-radial-gradient(#2d2d2e, #1c1c1d);
    background: radial-gradient(#2d2d2e, #1c1c1d);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.modal.modal_show {
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10% 0 5% 50%;
    display: block;
}

.modal.modal_hide {
    display: none;
}

.modal__body {
    width: 400px;
    margin-left: -200px;
    text-align: center;
    color: #aaa;
}

.modal__body__header {
    font-weight: normal;
    font-size: 30px;
}

.modal__body__text {
    margin: 20px 0 30px;
}

.modal__body__img {
    margin-bottom: 20px;
}

.modal__body__img > img {
    width: 100%;
}

.modal__body__img_hide {
    display: none;
}

.modal__body__button {
    border-left: 5px solid rgba(52, 79, 84, 0.0);
    background-color: rgba(52, 79, 84, 0.7);
    display: inline-block;
    padding: 20px 40px;
    cursor: pointer;
}

.modal__body__button:hover {
    background-color: rgba(52, 79, 84, 1);
    border-left: 5px solid #aaa;
    padding-left: -5px;
}

.modal__body__button {
    transition:          all 0.5s ease;
    -webkit-transition:  all 0.5s ease;
    -moz-transition:     all 0.5s ease;
    -o-transition:       all 0.5s ease;
}